@import 'tailwindcss';

@theme {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}



.page {
    color: #00073a;
}

/* 
bg: #00073a 
head-bg: #000d6c
*/